<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This weather site uses 'mapbox API' which convert any place location to geocode(latitude, longitude) and 'darksky.net API' which uses geocode to give exact forecast of a given location. Also it uses 'Geolocation API' to fetch user's current coordinates.</p>
    </div>
        <img src="/img/purushottam.jpg" alt="">
    {{>footer}}
</body>

</html>